<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sakkhat.com.p250">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/arc_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NightLightService"
            android:exported="false" />
        <service
            android:name=".services.ScreenAssistant"
            android:enabled="true"
            android:stopWithTask="false" />

        <receiver
            android:name=".broadcaster.ServiceSwitcher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ServiceStopper" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcaster.ServiceUpater"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".broadcaster.JarvisScheduler" />

        <activity android:name=".accessories.About" />
        <activity android:name=".p2p.FileSharing" />
        <activity android:name=".p2p.PCSharing"></activity>
    </application>

</manifest>